In [7]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("/Users/hrishikeshhpillai/Documents/hrishi/gridai/forecasting/datasets/SolarPrediction2.csv", parse_dates=['datetime'], index_col = ['datetime'])
df

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
datetime,,,,,,
2016-09-29 23:55:26,1.21,48,30.46,59,177.39,5.62
2016-09-29 23:50:23,1.21,48,30.46,58,176.78,3.37
2016-09-29 23:45:26,1.23,48,30.46,57,158.75,3.37
2016-09-29 23:40:21,1.21,48,30.46,60,137.71,3.37
2016-09-29 23:35:24,1.17,48,30.46,62,104.95,5.62
...,...,...,...,...,...,...
2016-12-01 00:20:04,1.22,44,30.43,102,145.42,6.75
2016-12-01 00:15:01,1.17,44,30.42,102,117.78,6.75
2016-12-01 00:10:01,1.20,44,30.42,102,145.19,9.00
2016-12-01 00:05:02,1.23,44,30.42,101,164.19,7.87
2016-12-01 00:00:02,1.20,44,30.43,101,83.59,3.37

In [9]:
df = df.sort_values(by ="datetime", ascending = True)
df

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
datetime,,,,,,
2016-09-01 00:00:08,2.58,51,30.43,103,77.27,11.25
2016-09-01 00:05:10,2.83,51,30.43,103,153.44,9.00
2016-09-01 00:20:06,2.16,51,30.43,103,142.04,7.87
2016-09-01 00:25:05,2.21,51,30.43,103,144.12,18.00
2016-09-01 00:30:09,2.25,51,30.43,103,67.42,11.25
...,...,...,...,...,...,...
2016-12-31 23:35:02,1.22,41,30.34,83,238.94,6.75
2016-12-31 23:40:01,1.21,41,30.34,82,236.79,5.62
2016-12-31 23:45:04,1.21,42,30.34,81,218.28,7.87
2016-12-31 23:50:03,1.19,41,30.34,80,215.23,7.87
2016-12-31 23:55:01,1.21,41,30.34,81,215.56,9.00

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler = scaler.fit(df)
df = scaler.transform(df)
df

array([[-0.64747457, -0.01665121,  0.1302504 ,  1.07671743, -0.79623451,
         1.43424875],
       [-0.64668321, -0.01665121,  0.1302504 ,  1.07671743,  0.11964207,
         0.78962722],
       [-0.64880405, -0.01665121,  0.1302504 ,  1.07671743, -0.01743281,
         0.46588396],
       ...,
       [-0.65181123, -1.4680154 , -1.51592086,  0.23023219,  0.89928546,
         0.46588396],
       [-0.65187453, -1.62927808, -1.51592086,  0.19175559,  0.86261192,
         0.46588396],
       [-0.65181123, -1.62927808, -1.51592086,  0.23023219,  0.86657988,
         0.78962722]])

In [15]:
X = df[:]
X.shape

(32686, 6)

In [28]:
y = df[1:,:1]
y.shape
y

array([[-0.64668321],
       [-0.64880405],
       [-0.64864578],
       ...,
       [-0.65181123],
       [-0.65187453],
       [-0.65181123]])

In [13]:
WINDOW = 38
HORIZON = 1
X_train = []
y_train = []
for i in range(0, len(X)):
    X_train.append(X[0:WINDOW])
y_train = y[39:]
y_train

array([], shape=(0, 6), dtype=float64)

In [188]:
import numpy as np
y_train = np.array(y_train)

In [190]:
X_train = np.array(X_train)

In [195]:
X_train = X_train[:32647]
X_train.shape, y_train.shape

((32647, 38, 6), (32647, 1))

In [196]:
X_train.shape[1], X_train.shape[2]

(38, 6)

In [197]:
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(64, activation='relu', input_shape =(X_train.shape[1], X_train.shape[2]), return_sequences=True),
    tf.keras.layers.LSTM(64, activation='relu', return_sequences=False),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(y_train.shape[1])
])

In [198]:
model.compile(optimizer='adam', loss = 'mse')

In [199]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 38, 64)            18176

 lstm_1 (LSTM)               (None, 64)                33024

 dropout (Dropout)           (None, 64)                0

 dense (Dense)               (None, 1)                 65

=================================================================
Total params: 51265 (200.25 KB)
Trainable params: 51265 (200.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [200]:
results = model.fit(X_train, y_train, epochs = 10, batch_size=32, validation_split=0.2, verbose=1)

Epoch 1/10
817/817 [==============================] - 15s 18ms/step - loss: 119899.2578 - val_loss: 75944.4766
Epoch 2/10
817/817 [==============================] - 14s 17ms/step - loss: 108926.9375 - val_loss: 72217.0391
Epoch 3/10
817/817 [==============================] - 14s 17ms/step - loss: 108409.6719 - val_loss: 73666.3750
Epoch 4/10
817/817 [==============================] - 14s 17ms/step - loss: 108969.1172 - val_loss: 70929.7812
Epoch 5/10
817/817 [==============================] - 14s 17ms/step - loss: 109066.8516 - val_loss: 71700.6328
Epoch 6/10
817/817 [==============================] - 14s 17ms/step - loss: 108487.3750 - val_loss: 72992.1328
Epoch 7/10
817/817 [==============================] - 14s 17ms/step - loss: 108263.5469 - val_loss: 72956.8828
Epoch 8/10
817/817 [==============================] - 14s 17ms/step - loss: 108533.6719 - val_loss: 70583.4453
Epoch 9/10
817/817 [==============================] - 14s 17ms/step - loss: 108516.9141 - val_loss: 71421.6953
Epoch 10/10
817/817 [==============================] - 14s 17ms/step - loss: 107998.9062 - val_loss: 71157.0391