In [242]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [243]:
df = pd.read_csv("/Users/hrishikeshhpillai/Documents/hrishi/gridai/forecasting/datasets/SolarPrediction2.csv", parse_dates=['datetime'], index_col = ['datetime'])
df = df.sort_values(by="datetime", ascending=True)
df

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
datetime,,,,,,
2016-09-01 00:00:08,2.58,51,30.43,103,77.27,11.25
2016-09-01 00:05:10,2.83,51,30.43,103,153.44,9.00
2016-09-01 00:20:06,2.16,51,30.43,103,142.04,7.87
2016-09-01 00:25:05,2.21,51,30.43,103,144.12,18.00
2016-09-01 00:30:09,2.25,51,30.43,103,67.42,11.25
...,...,...,...,...,...,...
2016-12-31 23:35:02,1.22,41,30.34,83,238.94,6.75
2016-12-31 23:40:01,1.21,41,30.34,82,236.79,5.62
2016-12-31 23:45:04,1.21,42,30.34,81,218.28,7.87
2016-12-31 23:50:03,1.19,41,30.34,80,215.23,7.87
2016-12-31 23:55:01,1.21,41,30.34,81,215.56,9.00

In [244]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df = scaler.fit_transform(df.to_numpy())
df = pd.DataFrame(df, columns=[
  'Radiation', 'Temperature', 'Pressure', 'Humidity', 'WindDirection(Degrees)', 'Speed'])
df

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
0,-0.647475,-0.016651,0.130250,1.076717,-0.796235,1.434249
1,-0.646683,-0.016651,0.130250,1.076717,0.119642,0.789627
2,-0.648804,-0.016651,0.130250,1.076717,-0.017433,0.465884
3,-0.648646,-0.016651,0.130250,1.076717,0.007577,3.368113
4,-0.648519,-0.016651,0.130250,1.076717,-0.914672,1.434249
...,...,...,...,...,...,...
32681,-0.651780,-1.629278,-1.515921,0.307185,1.147704,0.145006
32682,-0.651811,-1.629278,-1.515921,0.268709,1.121852,-0.178738
32683,-0.651811,-1.468015,-1.515921,0.230232,0.899285,0.465884
32684,-0.651875,-1.629278,-1.515921,0.191756,0.862612,0.465884
32685,-0.651811,-1.629278,-1.515921,0.230232,0.866580,0.789627

In [245]:
from sklearn.preprocessing import MinMaxScaler

In [246]:
scaler = MinMaxScaler()

In [247]:
X = df[["Temperature", "Pressure", "Humidity", "WindDirection(Degrees)", "Speed"]]
X

       Temperature  Pressure  Humidity  WindDirection(Degrees)     Speed
0        -0.016651  0.130250  1.076717               -0.796235  1.434249
1        -0.016651  0.130250  1.076717                0.119642  0.789627
2        -0.016651  0.130250  1.076717               -0.017433  0.465884
3        -0.016651  0.130250  1.076717                0.007577  3.368113
4        -0.016651  0.130250  1.076717               -0.914672  1.434249
...            ...       ...       ...                     ...       ...
32681    -1.629278 -1.515921  0.307185                1.147704  0.145006
32682    -1.629278 -1.515921  0.268709                1.121852 -0.178738
32683    -1.468015 -1.515921  0.230232                0.899285  0.465884
32684    -1.629278 -1.515921  0.191756                0.862612  0.465884
32685    -1.629278 -1.515921  0.230232                0.866580  0.789627

[32686 rows x 5 columns]

In [248]:
y = df[["Radiation"]]
y

       Radiation
0      -0.647475
1      -0.646683
2      -0.648804
3      -0.648646
4      -0.648519
...          ...
32681  -0.651780
32682  -0.651811
32683  -0.651811
32684  -0.651875
32685  -0.651811

[32686 rows x 1 columns]

In [249]:
X_np = df[["Radiation","Temperature", "Pressure", "Humidity", "WindDirection(Degrees)", "Speed"]].to_numpy()
X_np

array([[-0.64747457, -0.01665121,  0.1302504 ,  1.07671743, -0.79623451,
         1.43424875],
       [-0.64668321, -0.01665121,  0.1302504 ,  1.07671743,  0.11964207,
         0.78962722],
       [-0.64880405, -0.01665121,  0.1302504 ,  1.07671743, -0.01743281,
         0.46588396],
       ...,
       [-0.65181123, -1.4680154 , -1.51592086,  0.23023219,  0.89928546,
         0.46588396],
       [-0.65187453, -1.62927808, -1.51592086,  0.19175559,  0.86261192,
         0.46588396],
       [-0.65181123, -1.62927808, -1.51592086,  0.23023219,  0.86657988,
         0.78962722]])

In [250]:
WINDOW = 38
HORIZON = 1
X_train = []
y_train = []
for i in range(0, len(X_np)):
    X_train.append(X_np[0:WINDOW])
y_train = y[39:]
y_train

       Radiation
39     -0.646683
40     -0.648772
41     -0.648931
42     -0.649247
43     -0.650292
...          ...
32681  -0.651780
32682  -0.651811
32683  -0.651811
32684  -0.651875
32685  -0.651811

[32647 rows x 1 columns]

In [251]:
import numpy as np
y_train = np.array(y_train)

In [252]:
X_train = np.array(X_train)

In [253]:
X_train = X_train[:32647]
X_train.shape, y_train.shape

((32647, 38, 6), (32647, 1))

In [254]:
X_train.shape[1], X_train.shape[2]

(38, 6)

In [255]:
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(200, activation='relu', input_shape =(X_train.shape[1], X_train.shape[2]), return_sequences=True),
    tf.keras.layers.LSTM(150, activation='relu', return_sequences=False),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(y_train.shape[1])
])

In [256]:
model.compile(optimizer='adam', loss = 'mse')

In [257]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 38, 200)           165600

 lstm_5 (LSTM)               (None, 150)               210600

 dropout_2 (Dropout)         (None, 150)               0

 dense_2 (Dense)             (None, 1)                 151

=================================================================
Total params: 376351 (1.44 MB)
Trainable params: 376351 (1.44 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [259]:
results = model.fit(X_train, y_train, epochs = 30, batch_size=32, validation_split=0.2, verbose=1)

Epoch 1/30
817/817 [==============================] - 51s 62ms/step - loss: 1.0684 - val_loss: 0.7390
Epoch 2/30
817/817 [==============================] - 49s 60ms/step - loss: 1.0683 - val_loss: 0.7332
Epoch 3/30
817/817 [==============================] - 54s 66ms/step - loss: 1.0685 - val_loss: 0.7415
Epoch 4/30
817/817 [==============================] - 65s 80ms/step - loss: 1.0685 - val_loss: 0.7337
Epoch 5/30
817/817 [==============================] - 51s 62ms/step - loss: 1.0684 - val_loss: 0.7409
Epoch 6/30
817/817 [==============================] - 45s 55ms/step - loss: 1.0684 - val_loss: 0.7428
Epoch 7/30
817/817 [==============================] - 44s 54ms/step - loss: 1.0684 - val_loss: 0.7387
Epoch 8/30
817/817 [==============================] - 44s 53ms/step - loss: 1.0683 - val_loss: 0.7427
Epoch 9/30
817/817 [==============================] - 43s 53ms/step - loss: 1.0682 - val_loss: 0.7299
Epoch 10/30
817/817 [==============================] - 45s 55ms/step - loss: 1.0684 - val_loss: 0.7369
Epoch 11/30
817/817 [==============================] - 42s 52ms/step - loss: 1.0684 - val_loss: 0.7340
Epoch 12/30
817/817 [==============================] - 43s 52ms/step - loss: 1.0683 - val_loss: 0.7393
Epoch 13/30
817/817 [==============================] - 43s 52ms/step - loss: 1.0684 - val_loss: 0.7369
Epoch 14/30
817/817 [==============================] - 42s 52ms/step - loss: 1.0683 - val_loss: 0.7420
Epoch 15/30
817/817 [==============================] - 43s 52ms/step - loss: 1.0684 - val_loss: 0.7391
Epoch 16/30
817/817 [==============================] - 47s 58ms/step - loss: 1.0684 - val_loss: 0.7363
Epoch 17/30
817/817 [==============================] - 41s 51ms/step - loss: 1.0683 - val_loss: 0.7304
Epoch 18/30
817/817 [==============================] - 43s 52ms/step - loss: 1.0684 - val_loss: 0.7323
Epoch 19/30
817/817 [==============================] - 43s 53ms/step - loss: 1.0684 - val_loss: 0.7396
Epoch 20/30
817/817 [==============================] - 44s 54ms/step - loss: 1.0684 - val_loss: 0.7385
Epoch 21/30
817/817 [==============================] - 42s 52ms/step - loss: 1.0683 - val_loss: 0.7348
Epoch 22/30
817/817 [==============================] - 43s 53ms/step - loss: 1.0684 - val_loss: 0.7361
Epoch 23/30
817/817 [==============================] - 44s 54ms/step - loss: 1.0684 - val_loss: 0.7352
Epoch 24/30
817/817 [==============================] - 46s 56ms/step - loss: 1.0684 - val_loss: 0.7362
Epoch 25/30
817/817 [==============================] - 47s 57ms/step - loss: 1.0683 - val_loss: 0.7422
Epoch 26/30
817/817 [==============================] - 81s 99ms/step - loss: 1.0684 - val_loss: 0.7395
Epoch 27/30
817/817 [==============================] - 75s 91ms/step - loss: 1.0684 - val_loss: 0.7351
Epoch 28/30
817/817 [==============================] - 72s 88ms/step - loss: 1.0684 - val_loss: 0.7352
Epoch 29/30
817/817 [==============================] - 60s 74ms/step - loss: 1.0682 - val_loss: 0.7307
Epoch 30/30
817/817 [==============================] - 78s 96ms/step - loss: 1.0685 - val_loss: 0.7338